<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AboutBank</key>
    <string>О банке
        
        Акционерный Западно-Сибирский коммерческий банк открытое акционерное общество («Запсибкомбанк» ОАО).
Joint Stock West Siberian Commercial Bank

Юридический адрес: 625000, Тюменская область, г. Тюмень, ул. 8-е Марта, 1
Почтовый адрес: 625000, Тюменская область, г. Тюмень, ул. 8-е Марта, 1



Справочно-информационная служба:
8-800-100-5005 (звонок по РФ бесплатный), 8(3452) 522-000

Банковские реквизиты:
ИНН 7202021856, БИК 047130639
КПП 723150001, ОКОНХ 96120, ОКПО 09268282
ОКВЭД 6512
кор.счет 30101810100000000639 в РКЦ Тюменский г. Тюмень
Основной государственный регистрационный номер: 1028900001460. Дата внесения записи 28 ноября 2002г.



Реквизиты по расчетам в иностранной валюте


Орган надзора:
Главное управление Банка России по Тюменской области,
625000, г.Тюмень, ул.Володарского, 48.
Тел.: (3452) 49-73-00,факс: (3452) 49-73-63
remgu@tyumen.cbr.ru

По состоянию на 01.03.2012г. Запсибкомбанк представлен Головным офисом и 58 подразделениями: 16 филиалов на территории Тюменского региона (Ямало-Ненецкий автономный округ - 7 филиалов, Ханты-Мансийский автономный округ - Югра - 8 филиалов, юг Тюменской области - 1 филиал), а также 1 филиал в Москве. 34 дополнительных офиса, 1 операционный офис в г. Екатеринбург, 5 операционных касс вне кассового узла и 1 консультационный пункт в г. Стрежевой Томской области.</string>
    </dict>
</plist>
